.about {
	display: flex;
	column-gap: 102px;
	margin-bottom: 240px;
}

.about-image {
	flex-shrink: 0;
}

.about-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-body-header {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}

.about-body-footer,
.about-accordion-list {
	display: flex;
	flex-direction: column;
	row-gap: 54px;
}

.about-accordion-item {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-light-gray);
	padding-bottom: 24px;

	transition-duration: var(--transition-duration);
}

.about-accordion-item:hover {
	cursor: pointer;
	color: var(--color-dark-gray);
}

.about-accordion-title {
	font-weight: 600;
	font-size: 24px;
}

.about-accordion-cross {
	width: 24px;
	aspect-ratio: 1;
}
