.arrow-down {
	width: 150px;
	aspect-ratio: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-dark);
	color: var(--color-light);
	border-radius: 2px;
	border: 2px solid transparent;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;
	transition-duration: var(--transition-duration);
}

.arrow-down:hover {
	color: var(--color-dark);
	border-color: currentColor;
	background-color: var(--color-light);
}
