:root {
	--color-light: #fff;
	--color-dark: #1f1f1f;
	--color-dark-gray: #545454;
	--color-light-gray: #dadada;

	--container-width: 1520px;
	--container-padding-x: 20px;

	--border-radius: 4px;

	--transition-duration: 0.2s;
}
